/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  color: #FFF;
}

h1, h2, h4 {
  font-family: "Crete Round", "Sanchez";
}

section {
  padding-top: 20px;
  padding-bottom: 25px;
}

#intro {
  background-color: #2D4986;
  background: linear-gradient(to bottom, #2d4986 0%,#337c99 100%);
  padding-left: 5px;
  min-height: 400px;
}

#interest {
  background-color: #222;
  background: linear-gradient(to bottom, #000 0%, #333 100%);
  padding 15px 5px;
}

#features {
  background-color: #9D4034;
  background: linear-gradient(to bottom, #9D4034 0%, #A65 100%);
}

#features ul {
  padding: 0;
  text-align: center;
}

#features li {
  text-align: center;
  list-style: none;
  margin: 3%;
  padding: 1%;
  min-width: 200px;
  height: 300px;
}

#features .glyphicon {
  font-size: 128px;
  text-shadow: 4px 4px 1px #BBB;
  margin-bottom: 25px;
}

@media only screen and (min-width: 500px) {
  #intro {
    padding: 5% 20% 20%;
  }

  #interest {
    padding: 15px 15%;
  }

  #features li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    max-width: 275px;
  }
}
